
body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
}
.container {
  padding: 40px 60px;
  overflow: visible;
}


  #footer{
  margin-top:30px;
  padding: 20px;
  color:#ffffff;
  background: #333333;
}

.btn {
  padding: 10px 20px;
  background-color: #25ba7a;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
.btn:hover, .btn:focus {
  border: 1px solid #25ba7a;
  background-color: #fff;
  color: #000;
}

.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
  overflow: hidden;

}
.navbar-nav li a:hover {
  color: #25ba7a !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  overflow: hidden;

}


.form-control {
  border-radius: 0;
}
textarea {
  resize: none;
}


