.btn{
    margin:1px 1px ;

}
.comment{
    margin-bottom: 45px;
}
.author-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}
.author-name{
    float: left;
    margin-right: 15px;
}
.author-name>h4{
    margin: 5px 0px;
}
.author-time{
font-size: 11px;
    font-style: italic;
    color:#aaaaaa;
}
.comment-content{
    clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1em;
}
.comments-title{
margin-bottom: 45px;
}